<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SilliconValley</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SilliconValley.styles.css" asp-append-version="true" />
    <style>
        header {
            background-color: #ff0000; /* Color de fondo */
            

        .navbar-brand {
            color: #ffffff; /* Color del texto del enlace */
            font-weight: bold; /* Grosor de la fuente */
        }

        .navbar-nav .nav-link {
            color: #ffffff; /* Color del texto del enlace */
            font-weight: bold; /* Grosor de la fuente */
            transition: color 0.3s; /* Transición del color al pasar el ratón */
        }

        .navbar-nav .nav-link:hover {
            color: #f8f9fa; /* Color del texto del enlace al pasar el ratón */
        }

        .navbar-nav .nav-link.listar-usuarios,
        .navbar-nav .nav-link.crear-usuario {
            font-weight: bold; /* Grosor de la fuente */
            color: #011274; /* Color de los enlaces */
            transition: color 0.3s; /* Transición del color al pasar el ratón */
        }

        .navbar-nav .nav-link.listar-usuarios:hover,
        .navbar-nav .nav-link.crear-usuario:hover {
            color: #020200; /* Color de los enlaces al pasar el ratón */
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent border-bottom mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SilliconValley</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link listar-usuarios" asp-area="" asp-controller="Usuario" asp-action="Index">Listar Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link crear-usuario" asp-area="" asp-controller="Usuario" asp-action="Create">Crear Usuario</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SilliconValley - Practica 3 - Programación I -  <a asp-area="" asp-controller="Home" asp-action="Privacy">Todos los derechos reservados</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
